<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Source+Sans+Pro" rel="stylesheet">
  <title>Foodtopia</title>
</head>
<body>
  <!-- Navigation bar -->
    <nav class="navbar fixed-top top-navbar">
       <img src="../static/images/website_logo_invert.png" width="50" height="50" alt="Website Logo" style="float: left;">
      <a class="navbar-brand" href="index.html">Home</a>
    </nav>
  <!-- Header section -->
  <header class="headtopia">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-2">Questions? Comments?</h1>
        <p class="lead">Here at Foodtopia, we take our comments very seriously.
          If there's a bug we need to squash, or a feature which could be added,
          please let us know.</p>
      </div>
    </div>
  </header>
  <!-- Main container for food options -->
    <div class="container">

<h2>Send e-mail to someone@example.com:</h2>

<p> Let's keep in touch </p>

<div id = "contact_form">
  <form method = "post" action ="contact_us">
    <label for="email">Email address:</label>
    <input type="email" id="email" name="email" required="required">
    <input type="submit" value="Submit" id="submit-button">
  </form>

</div>


<!-- Website footer -->
<footer class="foottopia">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Foodtopia © 2019 The Pie-thon Gang.</p>
    <p>Icons by <a href="http://flaticon.com">Flaticon.</a></p>
  </div>
</div>
</footer>
</body>
</html>
