<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css" type="text/css" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Source+Sans+Pro" rel="stylesheet">
  <title>Foodtopia: Recipes</title>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar fixed-top top-navbar">
    <img src="../static/images/website_logo_invert.png" width="50" height="50" alt="Website Logo" style="float: left;">
    <a class="navbar-brand topbar-link" href="contact_us">Contact Us</a>
  </nav>

  <header class="headtopia">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {% if dish %}
          <h1 class="display-2">{{dish}} Recipes</h1>
          {% endif %}
        </div>
      </div>
    </header>
  <div class="container">

  {% for result in results %}
  <p> {{result.title}} </p>
  <img src = "{{result.image}}">
  {% endfor %}

  </div>
  <footer class="foottopia">
    <div class="jumbotron jumbotron-fluid foottopia2">
      <div class="container">
        <p class="lead">Foodtopia © 2019 The Pie-thon Gang.</p>
        <p>Icons by <a href="http://flaticon.com">Flaticon.</a></p>
      </div>
    </div>
  </footer>

</body>

</html>
